* {
    margin:0;
    padding: 0;
    color: white;
}
body {
    margin: 5px;
    background-color: rgb(47, 209, 209);

}
section {
    background-color: rgb(10, 10, 10);
}

.container-profile {
    padding: 15px;
    text-align: center;
}

.container-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
}

/* SECCION DE INFORMACION */
